<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="8888"/>
    <add key="DbConnection" value="Data Source=.;Initial Catalog=Jupiter;User id=sa;Password=sa"/>
    <add key="DependencyQuery" value="select id from [dbo].[ServerTable] where token is null"/>
    <add key="ProcessQuery" value="
         update [dbo].[ServerTable] set token=@token where token is null; 
         select clientId,msg from [dbo].[ServerTable] where token=@token"/>
    <add key="AfterProcessQuery" value="update [dbo].[ServerTable] set token=null where token=@token and clientId=@clientId"/>
    
    <add key="AuthenticationToken" value=""/>
  </appSettings>
</configuration>