<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="connection" connectionString="Data Source=.;Initial Catalog=Jupiter;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="FileFolder" value="C:\DataImport\" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="adminEmail" value="wsioncn@qq.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="consumerUrl" value="http://api1.hxky.cn/api/lz/djerp_gx_tz.php?uniacid={0}" />
  </appSettings>
  <log4net>
    <appender>
      <file xdt:Transform="Replace" value="C:\log\log_" />
    </appender>
  </log4net>
</configuration>
