<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIp" value=""/>
    <add key="ServerPort" value="8888"/>
    <add key="DbConnection" value="Data Source=.;Initial Catalog=Jupiter;User id=sa;Password=sa"/>
    <add key="DbType" value="mssql"/>
    <add key="DbParameterPrifix" value="@p"/>
    <add key="ProcessDataQuery" value="INSERT INTO [TBL_Client] (Msg) values (@p0)"/>
    <add key="AuthenticationToken" value=""/>
    <add key="AuthenticationIdentity" value=""/>
  </appSettings>
</configuration>