<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=.;Initial Catalog=Jupiter;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="adminEmail" value="chenweiwei@shinetechchina.com"/>
  </appSettings>
</configuration>
